.swiper-button-next,
.swiper-button-prev {
  color: gray !important;
  width: 30px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 25px !important;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.swiper-slide img {
  width: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .swiper-slide img {
    height: 300px;
  }
  .swiper-pagination {
    bottom: 20px !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 50px !important;
  }

  .detailCard {
    width: 100% !important;
  }
}
@media screen and (min-width: 922px) {
  .swiper-slide img {
    height: 500px;
  }
}

.swiper-cube {
  position: relative;
  left: 0;
  width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.about {
  position: relative;
  width: 100%;
}

.about .about-img {
  position: relative;
  height: 100%;
}

.about .about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.about .section-header {
  margin-bottom: 30px;
}
.section-header {
  position: relative;
  width: 100%;
  margin-bottom: 45px;
}

.section-header h2 {
  margin: 0;
  position: relative;
  font-size: 50px;
  font-weight: 700;
  color: #6c6d70;
}

.about .about-text p {
  font-size: 16px;
}

.productTitle {
  color: #2a7f4a;
}
.product {
  text-align: center;
}
.spriceitem {
  text-align: center;
}
.productItem {
  border-bottom: 1px solid #dedede;
}

.qualityTitle {
  color: #5d5b5b;
  font-size: 10px;
}

.quality {
  color: #6c6d70;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 5px;
  margin-bottom: 3px;
}

.productPrice {
  font-size: 18px;
  font-weight: 600;
}
#date {
  margin-bottom: 10px;
}
.sliderDescWrapper {
  height: 100%;
}
.sliderContent {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  font-size: 20px;
  color: white;
  width: 100%;
  text-align: center;
}


.sliderTitle {
  top: 30%;
}

.sliderDesc {
  top: 40%;
  margin-top: 40px;
}

@media screen and (max-width: 922px) {
  .sliderTitle {
    font-size: 30px;
   }
 
 } 

@media screen and (min-width: 922px) { 
  
  .sliderTitle {
   font-size: 50px;
  }
 }

.about-img > img {
  border-radius: 3px;
}

.about-header {
  color: #34b456;
}

.about-text {
  font-size: 14px;
  color: #64707c;
}

.contact-item {
  position: relative;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  border: 1px solid #d0d2d8;
}

.contact-item i {
  padding-right: 3px;
}

.contact-info {
  margin-bottom: -30px;
}

.contact-text h2 {
  color: #6c6d70;
  font-size: 20px;
  font-weight: 600;
}

.contact-text a {
  color: #666666 !important;
  text-decoration: none;
  transition: 0.3s;
  padding: 0;
}

.contact-text a:hover {
  color: #34b456 !important;
  text-decoration: none;
  transition: 0.3s;
}

#sendButton {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#sendButton.loading {
  background-color: #ddd;
  cursor: default;
}
#sendButton.loading:focus {
  box-shadow: none !important;
}

#sendButton.loading::after {
  content: "";
  border: 6px solid #f3f3f3;
  border-top: 6px solid #4caf50;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar-toggler {
  position: relative;
  bottom: 3px;
  border: none;
}
.toogleIconDesc {
  color: white;
  font-size: 10px;
  position: relative;
  top: 30px;
}

.navbar-toggler-icon {
  width: 36px;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.referencesImg {
  width: 100%;
  border: 1px solid #ebebee;
  padding: 10px;
  margin: 5px;
}

.detailCard {
  border: none;
  width: 308px;
}

.goDetail {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.prefencesTitle {
  color: #6c6d70;
  text-align: center;
}

.prefencesDesc {
  color: #34b456;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.card-img-overlay p {
  display: none;
  color: white;
}
.detailCard:hover .card-text {
  display: none;
}
.detailCard:hover .card-img-overlay p {
  display: block;
  transition: 0.5s;
  position: relative;
  z-index: 99;
}
.detailCard:hover {
  z-index: 999;
  transition: 0.5s;
  border: none;
  background-color: rgba(3, 15, 39, 0.7);
}

.detailCard:hover .goDetail {
  z-index: 9999;
}

.detailCard:hover .card-img {
  width: 100%;
  position: relative;
  transition: 0.5s;
}

.detailCard:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  border-radius: 3px;
  transition: 0.5s;
}
.detailCard:hover:after {
  opacity: 0.5;
}
.navbar {
  background-color: #dddddd;
}

.navbar-nav a {
  color: #394857 !important;
  font-size: 17px;
  font-weight: 600;
}

.navbar-toggler-icon {
  background-color: #394857;
  border-radius: 3px;
}

.toogleIconDesc {
  color: #394857;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

@media screen and (max-width: 922px) {
  .loginBtn {
    display: none !important;
  }
  .loginIcon {
    position: absolute !important;
    left: 10px !important;
    font-size: 30px !important;
    top: 94px !important;
    z-index: 9999999;
    color: #394857 !important;
  }
}
@media screen and (min-width: 922px) {
  .loginIcon {
    display: none !important;
  }
}

@media screen and (min-width: 480px) {
  .loginIcon {
    top: 120px !important;
  }
}

.serviceDetail h1 {
  color: #6c6d70;
  text-align: center;
}

.aboutTextBtn {
  background-color: #34b456 !important;
  font-weight: bold;
}

.quality {
  text-transform: uppercase;
}