{% load static %}
<!DOCTYPE html>
<html lang="tr">
  <head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WGBM46H');</script>
  <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Hurda Demir, Hurda Kablo, Hurda Bakır, Hurda Demir Talaşı alım satımında, geri dönüşümünde ve tedarik edilmesinde hizmet sunuyoruz." />
    <meta name="Keywords" content="Kocaeli Hurdacı, Gebze Hurdacısı, İstanbul Hurdacısı, Beylikdüzü Hurdacısı, Hurda Alımı, Hurda Satımı, Hurdalık, Hurdacı, Hurda, hurda alımı, nakit hurda sat, hurdacı, hurda satmak, hurda sat, metal" />
    <meta name="Language" content="Turkish" />
    <meta http-equiv="Content-Language" content="tr-TR" />
    <meta name="Copyright" content="2023 Diriliş Metal - Geri Dönüşüm" />
    <meta name="Revisit-After" content="7 Days" />
    <meta name='robots' content='index, follow' />
    <meta name="Googlebot" content="index,follow" />
    <meta name="Distribution" content="Global" />
    <meta name="author" content="dirilismetal" />
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Diriliş Metal Geri Dönüşüm | Yüksek Hurda Fiyatları ile Hurda Satın" />
    <meta property="og:description" content="Hurda alım satım konusunda en iyi fiyatı veren Gebze Gebze Dirliş Metal ile Türkiye'nin her yerinden kârlı hurda satımı yapın. " />
    <meta property="og:url" content="https://www.dirilismetal.com/" />
    <meta property="og:site_name" content="Diriliş Metal Geri Dönüşüm" />
    <meta property="og:updated_time" content="2023-01-14T17:16:08+03:00" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Diriliş Metal Geri Dönüşüm | Yüksek Hurda Fiyatları ile Hurda Satın" />
    <meta name="twitter:description" content="Hurda alım satım konusunda en iyi fiyatı veren Gebze Dirliş Metal ile Türkiye'nin her yerinden kârlı hurda satımı yapın." />
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="Diriliş Metal" />
    <meta name="twitter:label2" content="Time to read" />
    <meta name="twitter:data2" content="20 dakika" />

    <link rel='canonical' href='http://www.dirilismetal.com' />
    <link rel='shortlink' href='http://www.dirilismetal.com' />

  <!--base css-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

  <!--bootstrap css-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
 
    <!--favico-->
    <link rel="apple-touch-icon" sizes="48x48" href="{% static 'img/favico.png' %}">
    <link rel="icon" type="image/png" sizes="48x48" href="{% static 'img/favico.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favico.ico' %}" /> 

  <!--Floating WhatsApp css-->
    <link rel="stylesheet" href="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.css">

    {% block css_files %} {% endblock %}
    {% comment %} <title>{% block title %} {%endblock%}</title> {% endcomment %}
    <title>Diriliş Metal Geri Dönüşüm | Gebze Hurda | Kocaeli Hurda</title>
  </head>
  <body>

    <div class="topBar">
      <div class="container-fluid">
          <div class="row align-items-center">
              <div class="col-lg-6 col-md-12">
                  <div class="logo">
                      <a href="/" title='ANASAYFA | Diriliş Metal Geri Dönüşüm'>
                        <img src="{% static "img/dirilisMetalLogo.png" %}"
                        class='dirilisMetalLogo' title='Diriliş Metal Geri Dönüşüm' alt="Hakkımızda | Diriliş Metal Geri
                        Dönüşüm">
                      </a>
                  </div>
              </div>
              <div class="col-lg-6 col-md-7 d-none d-lg-block">
                  <div class="row">
                      <div class="col-6">
                          <div class="top-bar-item">
                              <div class="top-bar-icon">
                              </div>
                              <div class="top-bar-text">
                                 <div>
                                  <h6>TELEFON</h6>
                                  <a href="tel:+905312591206" title='+90 531 259 12 06' class="nav-link text-light"
                                    >+90 531 259 12 06</a>
                                  </div>
                                  <i class="bi bi-telephone-inbound-fill"></i>
                              </div>
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="top-bar-item">
                              <div class="top-bar-icon">
                              </div>
                              <div class="top-bar-text">
                                  <div>
                                    <h6>E-POSTA</h6>
                                  <a href="mailto:dirilismetal34@gmail.com" title="dirilismetal34@gmail.com">dirilismetal34@gmail.com</a>
                                </div>
                                <i class="bi bi-envelope-fill"></i>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    {% include 'partials/_navbar.html' %} 
    {% block content %}{% endblock %}
    {%include 'partials/_footer.html' %}
    <div id="WAButton"></div>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="bi bi-arrow-up-short"></i></button>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.js"></script>

<script>
  $(function() {
    $('#WAButton').floatingWhatsApp({
      phone: '5312591206',
      headerTitle: "WhatsApp'ta bizimle iletişme geçin!",
      popupMessage: 'Merhaba, size nasıl yardımcı olabiliriz?',
      showPopup: true,
      position: "right"    
    });
  });

</script>
    {% block js_files %} {% endblock %}
  </body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGBM46H"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
</html>
