{% extends "base.html" %}
{% load static %}

{% block title%} Referanslarımız {% endblock %} 

{% block content %}

<div class="service">
  <div class="container my-5">
    <div class="row align-items-center">
      <div class="col-xl-3 col-md-3">
        <div class="references_thumb">
          <img src="{% static "img/preferences/baymina.png" %}" title='REFERANSLARIMIZ | Diriliş Metal Geri Dönüşüm' class="referencesImg img-fluid" alt="Hakkımızda | Diriliş Metal Geri Dönüşüm">
        </div>
      </div>
      <div class="col-xl-3 col-md-3">
        <div class="references_thumb">
          <img src="{% static "img/preferences/ciner.png" %}"title='REFERANSLARIMIZ | Diriliş Metal Geri Dönüşüm' class="referencesImg img-fluid" alt="Hakkımızda | Diriliş Metal Geri Dönüşüm">
        </div>
      </div>
      <div class="col-xl-3 col-md-3">
        <div class="references_thumb">
          <img src="{% static "img/preferences/enka.png" %}" title='REFERANSLARIMIZ | Diriliş Metal Geri Dönüşüm' class="referencesImg img-fluid" alt="Hakkımızda | Diriliş Metal Geri Dönüşüm">
        </div>
      </div>
      <div class="col-xl-3 col-md-3">
        <div class="references_thumb">
          <img src="{% static "img/preferences/yilport-holding.png" %}" title='REFERANSLARIMIZ | Diriliş Metal Geri Dönüşüm' class="referencesImg img-fluid" alt="Hakkımızda | Diriliş Metal Geri Dönüşüm">
        </div>
      </div>
      <div class="col-xl-3 col-md-3">
        <div class="references_thumb">
          <img src="{% static "img/preferences/ihi-dalgakiran.png" %}" title='REFERANSLARIMIZ | Diriliş Metal Geri Dönüşüm' class="referencesImg img-fluid" alt="Hakkımızda | Diriliş Metal Geri Dönüşüm">
        </div>
      </div>
      <div class="col-xl-3 col-md-3">
        <div class="references_thumb">
          <img src="{% static "img/preferences/ak-enerji.png" %}" title='REFERANSLARIMIZ | Diriliş Metal Geri Dönüşüm' class="referencesImg img-fluid" alt="Hakkımızda | Diriliş Metal Geri Dönüşüm">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}